@page
@model IndexModel
@{
    ViewData["Title"] = "DM Home";
}




<ul class="portfolio-filter">
    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".deals">Deals</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".stores">Stores</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".users">Users and Roles</a></li>
</ul><!--/#portfolio-filter-->
<ul class="portfolio-items col-3">

    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Manage Deals</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Manage Coupons</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item4.jpg" alt="">
            <h5>Manage Deal Categories</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item4.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item deals">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Manage Deal Tags</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item stores">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item6.jpg" alt="">
            <h5>Manage Stores</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item stores">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item6.jpg" alt="">
            <h5>Manage Affiliate Stores</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item users">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item2.jpg" alt="">
            <h5>Manage Users</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item2.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item users">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item3.jpg" alt="">
            <h5>Manage User Roles</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item3.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
</ul>


@section scripts
    {
    <script>
            $(document).ready(function () {

            });
    </script>
}
