@page
@model DMCore.Areas.Admin.Pages.Blog.IndexModel
@{
}
<h1>Manage Blog Posts</h1>
<p>
    <a asp-page="/Blog/CreateEdit" class="btn btn-primary">
        <span class="fa fa-plus"></span>
        &nbsp; New Post
    </a>
</p>