@page
@model IndexModel
@{
    ViewData["Title"] = "User Profile";
}




<ul class="portfolio-filter">
    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".personal">Personal</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".security">Security</a></li>
</ul><!--/#portfolio-filter-->

<ul class="portfolio-items col-3">
    <li class="portfolio-item personal">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item3.jpg" alt="">
            <h5>Manage Profile</h5>
            <div class="overlay">
                <a href="/Identity/Account/Manage/Profile"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item3.jpg" alt="Profile"/></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item personal">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item5.jpg" alt="">
            <h5>Manage Personal Data</h5>
            <div class="overlay">
                <a href="/Identity/Account/Manage/PersonalData"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item5.jpg" alt="Personal Data"/></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item security">
        <div class="item-inner">
            <img src="~/images/portfolio/thumb/item4.jpg" alt="">
            <h5>Manage Password</h5>
            <div class="overlay">
                <a href="/Identity/Account/Manage/ChangePassword"><i class="icon-eye-open"></i><img src="~/images/portfolio/thumb/item4.jpg" alt="Personal Data" /></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
</ul>


@section scripts
    {
    <script>
            $(document).ready(function () {

            });
    </script>
}